.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
    background-color: white;
    height: 60px;
  }
  
  .iconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .titleContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }

  .divider {
    border-top: 5px dashed black;
    padding-left: 35%;
    margin: 3em;
  }
  
  .title {
    margin: 0;
    font-size: 2.7rem;
    font-weight: bold;
    color: #333;
    font-family: 'Caveat', sans-serif;
  }
  
  .titleInput {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    border: none;
    border-bottom: 2px solid #0070f3;
    background: transparent;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 0.25rem;
    outline: none;
  }
  
  .titleInput:focus {
    border-bottom-color: #0050d3;
  }