

.gridContainer {
    display: grid;
    grid-template-areas:
    'zone0 zone1 zone1 zone2 zone2 zone4 zone4'
    'zone0 zone3 zone3 zone3 zone3 zone5 zone5'
    ;
    justify-content: center;
    width: 100%;
    border: black solid 5px;
}

.quizName {
    grid-area: zone1;
    font-size: 4em;
}

.quizNumQuestions {
    grid-area: zone2;
    font-size: 3em;
}

.quizDesc {
    grid-area: zone3;
}

.quizPlay {
    grid-area: zone4;
    display: block;
    width: 100%;
}

.quizSettings {
    grid-area: zone5;
    display: block;
    width: 100%;
}

.quizImage {
    grid-area: zone0;
}

.fontCaveat {
    font-family: 'Caveat', sans-serif;
}

.fontNunito {
    font-family: 'NunitoSans', sans-serif;
}

.link {
    display: block;
    width: 100%;
}