.gridContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border: black solid 5px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: black solid 5px;
}

.quizImage {
    padding: .25em;
}

.quizProps {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.quizPropsUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: .25em .5em;
}

.quizName {
    font-size: 3em;
}

.quizNumQuestions {
    font-size: 3em;
}

.quizDesc {
    width: 100%;
    overflow: scroll;
    padding: .5em 1em;
}

.quizButtons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
}

.quizPlay {
    display: block;
    width: 100%;
    border-left: solid black 5px;
    border-bottom: solid black 5px;
}

.quizSettings {
    display: block;
    width: 100%;
    border-left: solid black 5px;
}

.fontCaveat {
    font-family: 'Caveat', sans-serif;
}

.fontNunito {
    font-family: 'NunitoSans', sans-serif;
}

.link {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}